---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Welcome to my portfolio";
---

<Layout pageTitle={pageTitle}>
  <h1 class="page_title">Jaime Salgado</h1>
  <span class="badge">Software Developer</span>
  <h2>About</h2>
  <p>
    👋 I’m a software developer who builds fast, accessible, and user-friendly
    web applications. I turn product ideas into clean, production-ready code
    using modern technologies like React, Node.js, Typescript. I've contributed
    to large-scale features and built tools like TaterJots, a Chrome extension
    for real-time note-taking. I enjoy collaborating across teams and take pride
    in writing thoughtful, scalable code. Let’s connect!
  </p>
  <div class="center">
    <a href="/works/">
      <button class="btn">See my work</button>
    </a>
  </div>
  <h2>Skills</h2>
  <div class="skills center">
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="CSS"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="HTML"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="JavaScript"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="TypeScript"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="React"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="Redux"
      alt="Redux"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redux/redux-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="Supabase"
      alt="Supabase"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/supabase/supabase-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="Next.js"
      alt="next.js icon"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
    />
    <Image
      class="skills__img"
      width="46"
      height="46"
      title="Git"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
  </div>
  <h2>Currently Learning & Reading</h2>
  <ul class="badge__list">
    <li>
      <a class="badge" href="https://nextjs.org/">next.js</a>
    </li>
    <li>
      <a class="badge" href="https://supabase.com/">Supabase</a>
    </li>
    <li>
      <a class="badge" href="https://www.ruby-lang.org/en/">Ruby</a>
    </li>
    <li>
      <a class="badge" href="https://rubyonrails.org/">Ruby on Rails</a>
    </li>
  </ul>
</Layout>
